* {
    box-sizing: border-box;
}

.e{
    color: yellow;
}

.p{
    color: white;
    background-color: pink;
}

.p2{
    color: rgb(74, 188, 74);
}
.p3{
    color: rgb(96, 160, 185);
}

.en{
    background-color: grey;
}

.f{
    color: white;
}

.b{
    border: orange solid 5px;
    background-color: white;
    height: 100px;

}